<!--from /views/pages/dashboard -->
<%- contentFor('dashboard head') %>
<script src="/socket.io/socket.io.js"></script>
<!--Main app structure -->
<div id="app" class="col-md-9">
  <h1>Welcome to Express...!</h1>
  <p>Your credentials are...</p>
  <ul>
    <li>Username: <%= userdata.username%></li>
    <li>Email: <%= userdata.email%></li>
  </ul>
</div>
<div id="data-from-socket"></div>
<script>
  var socket = io();
  socket.on('connect', function (data) {
    var
      firstName = data.firstName,
      lastName = data.lastName,
      socketDiv = document.getElementById('data-from-socket'),
      para = document.createElement('p'),
      msg = 'Your full name is ' + firstName +' '+ lastName,
      text = document.createTextNode(msg);
    return p.appendChild(text);
  });
  socket.on('disconnect', function () {
    var socketDiv = document.getElementById('data-from-socket');
    return socketDiv.innerHTML = '';
  })
</script>
